.header{
  background-image:url("/home/moringa/Documents/Independentproject/img/background/unsplash_feet-stairs_850x480.jpg");
  text-align: center;
  padding-top: 200px;
  padding-bottom: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
header .mouse{
  margin-bottom:-150px;
}
.about{
  text-align: center;
}
.services{
  background-image:url("/home/moringa/Documents/Independentproject/img/background/s_image.jpg");
  padding: 100px;
  text-align: center;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
