.header{
  background-image:url("../img/background/unsplash_feet-stairs_850x480.jpg");
  text-align: center;
  padding-top: 200px;
  padding-bottom: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.header .mouse{
  margin-bottom:-150px;
}
.about{
  text-align: center;
  font-family: 'Lalezar', cursive;
  font-size: 1.3em;
}
.services{
  background-image:url("../img/background/s_image.jpg");
  padding: 100px;
  text-align: center;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lalezar', cursive;
  font-size: 1.3em;
}
h4{
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Lalezar', cursive;
}
.design{
  display: none;
  font-family: 'Lalezar', cursive;
  font-size: 1.3em;
  text-align: center;
}
.development{
  display: none;
  font-family: 'Lalezar', cursive;
  font-size: 1.3em;
  text-align: center;
}
.develop p{
  padding-top: 10px;
}
.management{
  display: none;
  font-family: 'Lalezar', cursive;
  font-size: 1.3em;
  text-align: center;
}
.manage p{
  padding-top: 10px;
}
.portfolio{
  margin-left: 40%;
  text-align: center;
  font-family: 'Lalezar', cursive;
}
#center{
 padding-top: 20px;
 text-align: center;
 padding-bottom: 10px;
 margin-left: 40%;
}
.contacts{
  background-image:url("../img/background/c_image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 30px;
  text-align: center;
  float: right;
  width: 100%;
  height: 40%;
  font-family: 'Lalezar', cursive;
}
.contacts input{
  background:transparent;
}
::placeholder{
  color: white;
}
.contacts .message{
  width: 350px;
  padding-bottom: 100px;
}
.icon{
  margin-left: 30%;
  margin-top: 30px;
  text-align: center;
}
img:hover{
  content: "This is a text";
}
