.header{
  background-image:url("/home/moringa/Documents/Independentproject/img/background/unsplash_feet-stairs_850x480.jpg");
  text-align: center;
  padding-top: 200px;
  padding-bottom: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
header .mouse{
  margin-bottom:-150px;
}
.about{
  text-align: center;
}
.services{
  background-image:url("/home/moringa/Documents/Independentproject/img/background/s_image.jpg");
  padding: 100px;
  text-align: center;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h4{
  text-align: center;
  padding-bottom: 20px;
}
.design{
  display: none;
}
.development{
  display: none;
}
.develop p{
  padding-top: 10px;
}
.management{
  display: none;
}
.manage p{
  padding-top: 10px;
}
.portfolio{
  margin-left: 40%;
  text-align: center;
}
#center{
 padding-top: 20px;
 text-align: center;
 padding-bottom: 10px;
 margin-left: 40%;
}
.contacts{
  background-image:url("/home/moringa/Documents/Independentproject/img/background/c_image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 30px;
  text-align: center;
  float: right;
  width: 100%;
  height: 30%;
}
.contacts input{
  background:transparent;
}
::placeholder{
  color: white;
}
.contacts .message{
  width: 350px;
  padding-bottom: 50px;
}
.icon{
  margin-left: 30%;
  margin-top: 70px;
  text-align: center;
}
.see{
  display: none;
  z-index:100;
  position:absolute;
  color:white;
  font-size:24px;
  font-weight:bold;
  left:150px;
  top:350px;
  opacity: 0.6;
}
